/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: black;
}

.logo {
  font-weight: bold;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
  font-size: 17px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.hamburger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.hidden {
  display: none;
}

@media (max-width: 650px) {
  .nav-links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .open .line {
    display: none;
  }
  .open .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
        -ms-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }
  .open .line:nth-child(2) {
    opacity: 0;
  }
  .open .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
        -ms-transform: translateY(-8px) rotate(45deg);
            transform: translateY(-8px) rotate(45deg);
  }
}
.s-1 {
  background-image: url("../images/img.jpg");
  height: 606px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 85px;
  margin-top: 100px;
}

@media (max-width: 771px) {
  .s-1 {
    width: 150%;
  }
  header {
    width: 110%;
  }
}
@media (max-width: 759px) {
  footer {
    width: 115%;
  }
}
@media (max-width: 712px) {
  .s-1 {
    width: 120%;
  }
  header {
    width: 120%;
  }
}
footer {
  width: 170%;
}

@media (max-width: 661px) {
  header {
    width: 130%;
  }
  .s-1 {
    width: 130%;
  }
  footer {
    width: 170%;
  }
}
@media screen and (max-width: 535px) {
  .s-1 {
    width: 180%;
  }
}
@media (max-width: 769px) {
  header {
    width: 170%;
  }
  .s-1 {
    width: 170%;
  }
  .footer {
    width: 800px;
  }
}
@media (max-width: 770px) {
  .footer {
    width: 200%;
  }
}
.s-1wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textbox h3 {
  color: #fff;
  font-size: 70px;
  font-family: Helvetica;
  font-weight: 700;
  text-align: left;
  margin-bottom: 31px;
  float: left;
  text-align: left;
}

.textbox h5 {
  color: #fff;
  font-size: 24px;
  font-family: Helvetica;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.textbox {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  float: left;
}

.container {
  max-width: 1800px;
  height: 80px;
  background-color: rgb(234, 232, 232);
}

.info {
  float: left;
  margin-left: 80px;
  margin-top: 70px;
}

.info, h1 {
  font-size: 22px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin-bottom: 20px;
  line-height: 2;
}

.main4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-text-div {
  margin-top: 20px;
}

.text-div {
  color: #313030;
  line-height: 1;
  width: 590px;
  height: 110px;
  margin-top: 20px;
  font-family: "Courier New", monospace;
}

.text-div3 {
  color: #333;
  line-height: 1;
  width: 750px;
  height: 100px;
  margin-top: 30px;
  font-family: "Courier New", monospace;
}

.text-div4 {
  color: #333;
  line-height: 1;
  width: 750px;
  height: 100px;
  margin-top: 30px;
  font-family: "Courier New", monospace;
}

.text-div5 {
  color: #333;
  line-height: 1;
  width: 750px;
  height: 100px;
  font-family: "Courier New", monospace;
}

.add h6 {
  color: #0d0d0d;
  line-height: 1;
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
}

.add p {
  color: #0b0b0b;
  line-height: 1;
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
}

.container9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.circle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  width: 65px;
  height: 65px;
  border-radius: 70%;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.line {
  width: 200px;
  height: 5px;
  background-color: #545454;
  margin: 20px 0;
}

.text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.s-7 {
  font-family: Arial, sans-serif;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  float: right;
  justify-content: center;
  margin-top: 80px;
  margin-right: 90px;
}

@media (max-width: 1355px) {
  .s-7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.photo-container {
  margin-right: 20px;
}

.member {
  border-radius: 20cm;
}

.member1 {
  color: #333;
  line-height: 7;
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  text-align: center;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20cm;
}

.divi {
  float: left;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-bottom: 20px;
}

.divi, h2 {
  line-height: 2;
  font-size: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-size: larger;
}

.p-div {
  margin-top: 20px;
}

.div-p {
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  line-height: 1;
}

.footer {
  margin-top: 40px;
  background-color: #130d32;
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 460px;
}

.footer h3 {
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  line-height: 1;
  text-align: left;
}

.footer-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.footer-item img {
  width: 100%;
  height: auto;
}

.footer-item h3 {
  margin: 10px 0;
}

.top tracks {
  background-color: white;
  font-size: 25px;
}

.a-div {
  display: block;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

@media screen and (max-width: 754px) {
  .footer {
    width: 90%;
  }
}
.my h1 {
  margin-top: 60px;
  margin-left: 60px;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  line-height: 1;
}

.my h2 {
  margin-top: 20px;
  margin-left: 60px;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  line-height: 1;
}

.h1-div {
  margin-top: 150px;
  margin-left: 60px;
}

.my h3 {
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  line-height: 1;
  font-size: 18px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  max-width: 900px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 540px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.card1 {
  margin-top: 60px;
  width: 200px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: 40px;
}

.card1 img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card1 h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.card1 p {
  font-size: 14px;
  margin: 0;
}

.container1 {
  max-width: 870px;
  margin-left: 60px;
  height: 10px;
  background-color: rgb(235, 231, 231);
}

.s-71 {
  font-family: Arial, sans-serif;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  float: right;
  justify-content: center;
  margin-top: 130px;
  margin-right: 90px;
}

@media (max-width: 1355px) {
  .s-71 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 1308px) {
  .all {
    -webkit-transform: translateY(-550px);
        -ms-transform: translateY(-550px);
            transform: translateY(-550px);
  }
}
@media screen and (max-width: 981px) {
  .all {
    -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}
@media screen and (max-width: 430px) {
  .my h2 {
    -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}
.container15 {
  max-width: 1000px;
  height: 15px;
  background-color: rgb(240, 237, 237);
  margin-top: 60px;
  margin-left: 40px;
}

.dv-event {
  margin-left: 60px;
  margin-top: 180px;
}

.red-div {
  width: 200px;
  height: 70px;
  background-color: rgb(217, 3, 3);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 60px;
  border-radius: 10px;
}

.plus-sign {
  font-size: 36px;
  color: white;
}

.click-text {
  font-size: 18px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

.s-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  max-width: 1100px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-left: 30px;
}

.box1 {
  width: 65px;
  height: 8px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(195, 4, 4);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 19px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.box {
  width: calc(11.1111111111% - 10px);
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line3 {
  border: none;
  border-top: 1px solid #aaa;
  width: 90%;
  max-width: 1300px;
  margin-right: 90px;
}

.august {
  margin-left: 100px;
  margin-top: 80px;
}

.section-s {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 40px;
  max-width: 900px;
  width: 100%;
  height: 100px;
  margin-left: 60px;
}

.div-with-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.div-with-title {
  margin-left: 80px;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.line1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(171, 168, 168);
}

.aug {
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  line-height: 1;
  font-size: 28px;
  color: rgb(195, 4, 4);
}

.uni {
  color: rgb(118, 118, 118);
  font-size: 18px;
}

.mine {
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  line-height: 1;
  font-size: 24px;
  color: black;
}

.ji {
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 18px;
  color: black;
}

.ifyou {
  margin-top: 120px;
  margin-left: 140px;
}

.ifyou1 {
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 25px;
  color: rgb(155, 1, 1);
}

.log {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin-left: 150px;
}

.login-container {
  width: 300px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container16 {
  max-width: 1000px;
  height: 15px;
  background-color: rgb(240, 237, 237);
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.login-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.login-container label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

.login-container input[type=text],
.login-container input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #45a049;
}

.login-container p {
  text-align: center;
  margin-top: 10px;
}

.login-container a {
  color: #007bff;
  text-decoration: none;
}

.track {
  -webkit-transform: translateY(90px);
      -ms-transform: translateY(90px);
          transform: translateY(90px);
  margin-left: 100px;
}

.trac {
  font-family: Helvetica;
  line-height: 3;
  font-size: 29px;
  color: rgb(26, 24, 31);
}

.card2 {
  margin-top: 60px;
  width: 530px;
  padding: 20px;
  height: 210px;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
}

.swim {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card2 img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}

.carot {
  width: 300px;
  height: 40px;
  background-color: rgb(254, 148, 113);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
}

.list {
  float: left;
  color: rgb(113, 109, 109);
  margin-top: 10px;
  margin-left: 3px;
}

.divisw {
  margin-top: 75px;
  margin-left: 20px;
}

.s-30 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-left: 50px;
}

.card3 {
  width: 530px;
  margin-left: 55px;
  height: 250px;
  text-align: center;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 30px;
  -webkit-transform: translate(20px);
      -ms-transform: translate(20px);
          transform: translate(20px);
}

.card3 p {
  line-height: 1;
  margin-top: 30px;
  font-family: "Courier New", monospace;
  margin-left: 10px;
  margin-right: 10px;
}

.card3 h2 {
  margin-top: 10px;
}

.evry {
  margin-top: 100px;
}

@media (max-width: 860px) {
  .s-30 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-30 .card3 {
    margin-top: 20px;
    margin-right: 30px;
  }
}
@media (max-width: 981px) {
  .s-30 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}/*# sourceMappingURL=global.css.map */